hw_imx135_liteon=/system/etc/camera/davinci/hw_imx135_liteon/
hw_ov5648_foxconn=/system/etc/camera/davinci/hw_ov5648_foxconn/
hw_ov5648_foxconn_g6=/system/etc/camera/davinci/hw_ov5648_foxconn_g6/
hw_ov5648_foxconn_mate2=/system/etc/camera/davinci/hw_ov5648_foxconn_mate2/
hw_imx214_sunny=/system/etc/camera/davinci/hw_imx214_sunny/
hw_s5k4e1_sunny=/system/etc/camera/davinci/hw_s5k4e1_sunny/
hw_s5k4e1_sunny_g6=/system/etc/camera/davinci/hw_s5k4e1_sunny_g6/
hw_s5k4e1_sunny_mate2=/system/etc/camera/davinci/hw_s5k4e1_sunny_mate2/
hw_imx214_foxconn=/system/etc/camera/davinci/hw_imx214_foxconn/
hw_imx134=/system/etc/camera/davinci/hw_imx134/
