hw_imx135_liteon=/system/etc/camera/davinci/hw_imx135_liteon/
hw_ov5648_foxconn=/system/etc/camera/davinci/hw_ov5648_foxconn/
hw_s5k4e1_sunny=/system/etc/camera/davinci/hw_s5k4e1_sunny/
hw_ov9724=/system/etc/camera/davinci/hw_ov9724/
hw_imx134=/system/etc/camera/davinci/hw_imx134/
hw_s5k4e1_back=/system/etc/camera/davinci/hw_s5k4e1_back/
hw_ov5648_back=/system/etc/camera/davinci/hw_ov5648_back/
hw_imx219_liteon=/system/etc/camera/davinci/hw_imx219_liteon/
hw_s5k9a1=/system/etc/camera/davinci/hw_s5k9a1/
hw_ov8858_foxconn=/system/etc/camera/davinci/hw_ov8858_foxconn/