imx278_sunny=/system/etc/camera/nicefood/config/default/
sonyimx134_liteon=/system/etc/camera/nicefood/config/default/
sonyimx134_sunny=/system/etc/camera/nicefood/config/default/
sonyimx135=/system/etc/camera/nicefood/config/default/
sonyimx135_liteon=/system/etc/camera/nicefood/config/default/
ov5648_sunny=/system/etc/camera/nicefood/config/default/
ov5648_foxconn=/system/etc/camera/nicefood/config/default/
s5k4e1ga_foxconn=/system/etc/camera/nicefood/config/default/
s5k4e1gx_foxconn=/system/etc/camera/nicefood/config/default/
imx214_sunny=/system/etc/camera/nicefood/config/default/
imx214_foxconn=/system/etc/camera/nicefood/config/default/
s5k4e1gx_sunny=/system/etc/camera/nicefood/config/default/
imx179_front=/system/etc/camera/nicefood/config/default/
imx179_rear=/system/etc/camera/nicefood/config/default/
ov8865_rear=/system/etc/camera/nicefood/config/default/
imx179_front_liteon=/system/etc/camera/nicefood/config/default/
imx179_front_sunny=/system/etc/camera/nicefood/config/default/

