hw_imx135_liteon=/system/etc/camera/davinci/hw_imx135_liteon/
hw_ov5648_foxconn=/system/etc/camera/davinci/hw_ov5648_foxconn/
hw_mt9d015_sunny=/system/etc/camera/davinci/hw_mt9d015_sunny/
hw_ov2680_ofilm=/system/etc/camera/davinci/hw_ov2680_ofilm/
hw_s5k4e1_back=/system/etc/camera/davinci/hw_s5k4e1_back/
hw_imx219_liteon=/system/etc/camera/davinci/hw_imx219_liteon/
hw_ov8858_foxconn=/system/etc/camera/davinci/hw_ov8858_foxconn/
hw_ov5648_back=/system/etc/camera/davinci/hw_ov5648_back/